---
import Text from "../system/Text.astro";
---
<div class='px-20 pt-14 max-md:px-4 max-md:pt-14 pb-9 bg-white flex flex-col items-center max-md:items-start'>
  <Text type={'text-subtitle'} class='text-black' style={{ letterSpacing: '0.1em', opacity: 0.6 }}>Our Sister Schools</Text>
  <Text type={'h2'} class='text-black mt-3 relative max-md:leading-[43px]'>
    The Glentree <span class='text-accent2'>Family Tree</span>
  </Text>
  <div class='flex flex-row w-full justify-between mt-14 max-md:mt-0 max-md:flex-col text-black'>
    <div class='flex-1 mt-8'>
      <div class='w-[28vw] max-md:w-full max-md:h-[240px] h-[23vw] border border-red-500 rounded-lg'></div>
      <Text type={'h4'} class={'mt-6 max-md:4'}>Little Elly</Text>
      <Text type={'text-regular'} class={'mt-2 w-[28vw] max-md:w-[95%]'}>India's favorite preschool with 130+ centers in South and West India. Stimulating curriculum based on Montessori and Steiner models.</Text>
    </div>
    <div class='flex-1 mt-8'>
      <div class='w-[28vw] max-md:w-full max-md:h-[240px] h-[23vw] border border-red-500 rounded-lg'></div>
      <Text type={'h4'} class={'mt-6 max-md:4'}>Little Elly</Text>
      <Text type={'text-regular'} class={'mt-2 w-[28vw] max-md:w-[95%]'}>India's favorite preschool with 130+ centers in South and West India. Stimulating curriculum based on Montessori and Steiner models.</Text>
    </div>
    <div class='flex-1 mt-8'>
      <div class='w-[28vw] max-md:w-full max-md:h-[240px] h-[23vw] border border-red-500 rounded-lg'></div>
      <Text type={'h4'} class={'mt-6 max-md:4'}>Little Elly</Text>
      <Text type={'text-regular'} class={'mt-2 w-[28vw] max-md:w-[95%]'}>India's favorite preschool with 130+ centers in South and West India. Stimulating curriculum based on Montessori and Steiner models.</Text>
    </div>
  </div>
</div>