---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import TopNavigationBar from '../components/TopNavigationBar.astro';

import Updates from '../components/landingPage/Updates/index.astro'
import LFL from '../components/landingPage/LFL.astro'
import WhyGlentree from '../components/landingPage/whyGlentree.astro';
import Campus from '../components/landingPage/campus.astro';

import Testimonial from '../components/landingPage/Testimonial.astro';
import BigAdmissionCTA from '../components/BigAdmissionCTA.astro';


import '../global.css'

import '@fontsource/nunito-sans';
import GlentreeFamily from '../components/landingPage/GlentreeFamily.astro';
import Footer from '../components/landingPage/Footer.astro';

---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col h-screen w-screen relative">
    <div 
    class="flex-1 main-container h-screen w-screen"
    style={{
      overflowY: 'overlay',
      overflowX: 'hidden',
    }}
    >
    
    <div class='flex flex-col h-screen'>
      <TopNavigationBar />
      <Hero />
    </div>
      
      <!-- Carousell/Updatexss -->      
      <!-- Our MOttto -->
      
      <LFL />
      <!-- Why Glentreee -->
      <WhyGlentree />


      <!-- Our Campauses -->
      <Campus />

      <Updates />


      <!-- Testimonials -->

      <!-- <div class='w-5 h-32'></div> -->
      <Testimonial />

      <!-- Admission BIG CTA -->
      <BigAdmissionCTA />

      <!-- Glentree Family -->
      <GlentreeFamily />


      <!-- Footer -->
    <Footer />
      

    </div>
  </main>
</Layout>
