---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import TopNavigationBar from '../components/TopNavigationBar.astro';

import Updates from '../components/landingPage/Updates/index.astro'
import LFL from '../components/landingPage/LFL.astro'
import WhyGlentree from '../components/landingPage/whyGlentree.astro';
import Campus from '../components/landingPage/campus.astro';

import Testimonial from '../components/landingPage/Testimonial.astro';
import BigAdmissionCTA from '../components/BigAdmissionCTA.astro';

import '../global.css'

import '@fontsource/nunito-sans';
import GlentreeFamily from '../components/landingPage/GlentreeFamily.astro';
import Footer from '../components/landingPage/Footer.astro';
import Text from '../components/system/Text.astro';
import YoutubeEmbed from '../components/YoutubeEmbed.astro';
import psjaAward from '../images/psjaAward.png'
import meritAwards from '../images/meritAwards.png'
import VittalFounderDesk from '../components/vittalFounderDesk.astro';
import { Image } from 'astro:assets';


---

<Layout title="Apply Now | Best CBSE School in Bangalore | Glentree Academy School">
  <main class="flex flex-col h-screen max-md:h-auto w-screen relative">
    <div 
      class="flex-1 main-container max-md:h-auto h-screen w-screen"
      id="scroll-area"
      style={{
        overflowY: 'overlay',
        overflowX: 'hidden',
      }}
    >
    
    <div class='flex flex-col max-md:h-auto h-screen'>
      <TopNavigationBar />
      <Hero />
    </div>

    <div class="flex flex-row h-36 w-full mt-auto max-md:py-8 max-md:px-6 max-md:pb-1 items-center justify-around flex-wrap max-md:flex-col max-md:h-auto max-md:items-start relative z-20" style={{ background: '#030303' }}>
      <div class="flex flex-row max-md:mb-5 daisy daisy-y-1 daisy-4">
        <Image src={psjaAward} alt="PSJA Award" class="h-12 w-auto" />
        <div class="ml-4">
          <Text type='sm'>
            Rank 1 in <span class="text-[#56cf8a] font-extrabold">Holistic Education</span>
          </Text>
          
          <Text type='sm' class='text-gray-600 max-md:text-sm'>
            India’s TOP PSJA 2022
          </Text>
        </div>
      </div>

      <div class="flex flex-row max-md:mb-5 daisy daisy-y-1 daisy-5">
        <Image src={meritAwards} alt="PSJA Award" class="h-12 mr-[8px] w-auto" />
        <div class="ml-4">
          <Text type='sm'>
            Best <span class="text-[#56cf8a] font-extrabold">Emerging</span> School
          </Text>
          
          <Text type='sm' class='text-gray-600 max-md:text-sm'>
            India’s School Merit Award
          </Text>
        </div>
      </div>

      <div class="flex flex-row max-md:mb-5 daisy daisy-y-1 daisy-6">
        <Image src={psjaAward} alt="PSJA Award" class="h-12 w-auto" />
        <div class="ml-4">
          <Text type='sm'>
            Rank 1 in <span class="text-[#56cf8a] font-extrabold">Integrated Learning</span>
          </Text>
          
          <Text type='sm' class='text-gray-600 max-md:text-sm'>
            India’s TOP PSJA 2022
          </Text>
        </div>
      </div>
    </div>
    
    <Footer />


    <!-- width:60px;
    height:60px;
    bottom:40px;
    right:40px; -->

    </div>
  </main>
</Layout>

<style>
  .float{
    position:fixed;
    /* background-color:#25d366; */
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index:100;
  }

  .float > div {
    opacity: 0;
    transition: 0.6s all ease-in-out
  }
  .float a:hover ~ div {
    opacity: 1;
  }

.my-float{
	margin-top:16px;
}
</style>