---
import Layout from "../layouts/Layout.astro";
import TopNavigationBar from "../components/TopNavigationBar.astro";
import Text from "../components/system/Text.astro";
import Table from "../components/publicDisclosure/table.astro";

import safetyCertificateGAS from "../images/disclosure/gas/safetyCertificate.pdf";
import nocCBSEGAS from "../images/disclosure/gas/noc-cbse.pdf";
import recognitionCertificateGAS from "../images/disclosure/gas/Recognisation-from-DDPI-English.pdf";
import mandatoryPublicDesclosureGAS from "../images/disclosure/gas/mandatoryPublicDisclosure.pdf";
import fireSafetyGAS from "../images/disclosure/gas/fireSaftey.pdf";
import trustDeedGAS from "../images/disclosure/gas/trustDeed.pdf";
import cbseAffiliationGAS from "../images/disclosure/gas/cbseAffiliation.pdf";
import DDPIGAS from "../images/disclosure/gas/DDPI.pdf";
import waterAndSanitaryCertificateGAS from "../images/disclosure/gas/water-and-sanitary-certificateGAS.pdf";
import staffDetailsGas from "../images/disclosure/gas/staff-details.pdf";
import academicCalendarGas from "../images/disclosure/gas/AcademicCalendar.pdf";

import annualReportGAS from "../images/disclosure/gas/annualReport.pdf";
import schoolManagement from "../images/disclosure/gas/schoolManagement.pdf";
import selfCertificate from "../images/disclosure/gas/selfCertificate.pdf";
import textBookList from "../images/disclosure/gas/textBookList.pdf";
import transferCertificateSample from "../images/disclosure/gas/transferCertificateSample.pdf";

import safetyCertificateGAW from "../images/disclosure/gaw/safetyCertificate.jpg";
import staffDetailsGAW from "../images/disclosure/gaw/teaching&NonTeachingStaffDetails.pdf";
import nocCBSEGAW from "../images/disclosure/gaw/noc-cbse.pdf";
import mandatoryPublicDisclosureGAW from "../images/disclosure/gaw/mandatoryPublicDisclosure.pdf";
import primaryRecognitionCertificateGAW from "../images/disclosure/gaw/Primary-Recognition-certificate.pdf";
import trustDeedGAW from "../images/disclosure/gaw/TrustDeed_Amendment.pdf";
import CBSEAffiliationGAW from '../images/disclosure/gaw/CBSE-Affiliation.pdf';
import giftDeedGAW from '../images/disclosure/gaw/giftdeed.pdf';
import landCertificateGAW from '../images/disclosure/gaw/landCertificate.pdf'
import fireSafetyGAW from '../images/disclosure/gaw/Fire-Compliance-Certificate-Renewed.pdf';
import waterAndSanitaryCertificateGAW from '../images/disclosure/gaw/Drinking-Water-Sanitary-Whitefield.pdf';
// import recognitionCertificateGAW from '../images/disclosure/gaw/recognitionCertificate.pdf';

import academicCalendarGaw from "../images/disclosure/gaw/AcademicCalendar.pdf";

import annualReportGAW from "../images/disclosure/gaw/annualReport.pdf";
import bookListGAW from "../images/disclosure/gaw/booksList.pdf";
import classWiseStrengthGAW from "../images/disclosure/gaw/classWiseStrength.pdf";
import specialEducatorGAW from "../images/disclosure/gaw/specialEducatorDoc.pdf";
import transferCertificateGAW from "../images/disclosure/gaw/transferCertificate.pdf";
import youtubeLinkofInspectionSOPGAW from "../images/disclosure/gaw/youtubeLinkofInspectionSOP.pdf";
import recognitionCertificateGAW from "../images/disclosure/gaw/recognitionCertificate1.pdf";
import affidavitSMC from "../images/disclosure/gaw/affidavitSMC.pdf";
import feeStructureGAW from "../images/disclosure/gaw/feeStructure.pdf";
import affidavitNOCGAW from "../images/disclosure/gaw/affidavitNOC.pdf";
import selfCertificateGAW from "../images/disclosure/gaw/selfCertificate.pdf";
import last4YearsResultGAW from "../images/disclosure/gaw/last4YearsResult.pdf";
import floorPlanGAW from "../images/disclosure/gaw/floorPlan.pdf";
import affidavitNonProprietoryGAW from "../images/disclosure/gaw/affidavitNonProprietory.pdf";
import parentTeacherAssociationGAW from "../images/disclosure/gaw/parentTeacherAssociation.pdf";


import Footer from "../components/landingPage/Footer.astro";
import "../global.css";
import { getEntries, getEntry, type CollectionEntry } from 'astro:content';

export function getStaticPaths() {
  return [
    { params: { school: "whitefield" } },
    { params: { school: "sarjapur" } },
  ];
}

const { school } = Astro.params;

const sarjapurData = {
  "Started In The Year": {
    type: "text",
    text: "2018",
  },
  Recognition: {
    type: "text",
    text: "Recognised by CBSE, School Code – 46717",
  },
  "Affiliation details": {
    type: "text",
    text: "Permanent Affiliation, Affiliation No : 831088 (2020 for Sec. Level)",
  },
  "School Udise Code": {
    type: "text",
    text: "29200910432",
  },
  "Society/Trust": {
    type: "text",
    text: "Glentree Education Trust",
  },
  Payment: {
    type: "text",
    text: "Payment Structure as in two Installments",
  },
  "Admission Period": {
    type: "text",
    text: "October to April",
  },
  "Building Safety Certificate": {
    type: "link",
    text: "VIEW HERE",
    link: safetyCertificateGAS,
  },
  "No Objection Certificate": {
    type: "link",
    text: "VIEW HERE",
    link: nocCBSEGAS,
  },
  "Recognition Certificate": {
    type: "link",
    text: "VIEW HERE",
    link: recognitionCertificateGAS,
  },
  "Appendix IX – Mandatory Public Disclosure": {
    type: "link",
    text: "VIEW HERE",
    link: mandatoryPublicDesclosureGAS,
  },
  "Fire Safety Certificate": {
    type: "link",
    text: "VIEW HERE",
    link: fireSafetyGAS,
  },
  "Trust Deed": {
    type: "link",
    text: "VIEW HERE",
    link: trustDeedGAS,
  },
  "CBSE Affiliation Certificate": {
    type: "link",
    text: "VIEW HERE",
    link: cbseAffiliationGAS,
  },
  "DDPI Certificate": {
    type: "link",
    text: "VIEW HERE",
    link: DDPIGAS,
  },
  "Academic Calender 2023-24": {
    type: "link",
    text: "VIEW HERE",
    link: academicCalendarGas,
  },
  "Water and Sanitary Report": {
    type: "link",
    text: "VIEW HERE",
    link: waterAndSanitaryCertificateGAS,
  },
  "Qualification of Teachers": {
    type: "link",
    text: "VIEW HERE",
    link: staffDetailsGas,
  },
  "Annual Report": {
    type: "link",
    text: "VIEW HERE",
    link: annualReportGAS,
  },
  "School Management Committee": {
    type: "link",
    text: "VIEW HERE",
    link: schoolManagement,
  },
  "Sample Transfer Certificate": {
    type: "link",
    text: "VIEW HERE",
    link: transferCertificateSample,
  },
  "Text Book List": {
    type: "link",
    text: "VIEW HERE",
    link: textBookList,
  },
  "CBSE Self-Certification Proforma": {
    type: "link",
    text: "VIEW HERE",
    link: selfCertificate,
  },
  "Fee Details": {
    type: "head",
    text: "Fee Range",
  },
  "Pre-Primary": {
    type: "text",
    text: "₹ 1.08 to ₹ 1.32 Lakhs",
  },
  "Primary & Secondary": {
    type: "text",
    text: "₹ 1.26 to ₹ 1.58 Lakhs",
  },
};

const whitefieldData = {
  "Started In The Year": {
    type: "text",
    text: "2015",
  },
  Recognition: {
    type: "text",
    text: "Recognised by CBSE, School Code – 45471",
  },
  "Affiliation details": {
    type: "text",
    text: "Permanent Affiliation, Affiliation No : 830349 (2020 for Sec. Level)",
  },
  "School Udise Code": {
    type: "text",
    text: "29200313703",
  },
  "Society/Trust": {
    type: "text",
    text: "Sri Venkateswara Trust",
  },
  Payment: {
    type: "text",
    text: "Payment Structure as in two Installments",
  },
  "Admission Period": {
    type: "text",
    text: "October to April",
  },
  'Affidavit | Corrigedum | NOC': {
    type: 'link',
    text: 'VIEW HERE',
    link: affidavitNOCGAW,
  },
  "Building Safety Certificate": {
    type: "link",
    text: "VIEW HERE",
    link: safetyCertificateGAW,
  },
  "Qualification of teachers": {
    type: "link",
    text: "VIEW HERE",
    link: staffDetailsGAW,
  },
  "Appendix IX – Mandatory Public Disclosure": {
    type: "link",
    text: "VIEW HERE",
    link: mandatoryPublicDisclosureGAW,
  },
  "Recognition Certificate": {
    type: "link",
    text: "VIEW HERE",
    link: recognitionCertificateGAW,
  },
  "Trust Deed": {
    type: "link",
    text: "VIEW HERE",
    link: trustDeedGAW,
  },
  "CBSE Affiliation Extension": {
    type: "link",
    text: "VIEW HERE",
    link: CBSEAffiliationGAW,
  },
  "Fire Compliance Certificate": {
    type: "link",
    text: "VIEW HERE",
    link: fireSafetyGAW,
  },
  "Drinking Water & Sanitary": {
    type: "link",
    text: "VIEW HERE",
    link: waterAndSanitaryCertificateGAW,
  },
  "Land Certificate": {
    type: "link",
    text: "VIEW HERE",
    link: landCertificateGAW,
  },
  "Academic Calender 2023-24": {
    type: "link",
    text: "VIEW HERE",
    link: academicCalendarGaw,
  },
  "Special Educator": {
    type: "link",
    text: "VIEW HERE",
    link: specialEducatorGAW,
  },
  "Youtube link as per SOP of Inspection": {
    type: "link",
    text: "VIEW HERE",
    link: youtubeLinkofInspectionSOPGAW,
  },
  "Classwise Strength": {
    type: "link",
    text: "VIEW HERE",
    link: classWiseStrengthGAW,
  },
  "Transfer Certificate Sample": {
    type: "link",
    text: "VIEW HERE",
    link: transferCertificateGAW,
  },
  "Annual Report": {
    type: "link",
    text: "VIEW HERE",
    link: annualReportGAW,
  },
  "Book List": {
    type: "link",
    text: "VIEW HERE",
    link: bookListGAW,
  },
  'School Management Committee': {
    type: 'link',
    text: 'VIEW HERE',
    link: affidavitSMC,
  },
  'Fee Structure': {
    type: 'link',
    text: 'VIEW HERE',
    link: feeStructureGAW,
  },
  'Parent Teacher Association': {
    type: 'link',
    text: 'VIEW HERE',
    link: parentTeacherAssociationGAW,
  },
  'Self Certification CBSE': {
    type: 'link',
    text: 'VIEW HERE',
    link: selfCertificateGAW,
  },
  'Last 4 Years Result': {
    type: 'link',
    text: 'VIEW HERE',
    link: last4YearsResultGAW,
  },
  'Floor Plan & School Infrastructure': {
    type: 'link',
    text: 'VIEW HERE',
    link: floorPlanGAW,
  },
  'Affidavit - Non Proprietory': {
    type: 'link',
    text: 'VIEW HERE',
    link: affidavitNonProprietoryGAW,
  },
};

const { data: disclosure } = await getEntry('mandatoryPublicDisclosure', school) as CollectionEntry<'mandatoryPublicDisclosure'>
// const title = data.title
const data = disclosure.disclosure.reverse()
// console.log('disclo sure', data)
const schoolName = school === "sarjapur" ? "GLENTREE ACADEMY SARJAPUR" : "GLENTREE ACADEMY WHITEFIELD";

---

<Layout 
  title={disclosure.titleTag}
  description={disclosure.metaDescription}
>
  <main class="flex flex-col relative text-black items-center">
    <TopNavigationBar />
    <div class="h-[88px] w-full bg-black"></div>
    <Text type={"subtitle"} class="mt-10 max-md:mt-10 text-center">
      MANDATORY PUBLIC DISCLOSURE
    </Text>
    <Text type={"h1Sm"} class="mt-4 max-md:mt-10 text-center">{schoolName}</Text>

    <Table data={data} />

    <div class="text-white w-full mt-12">
      <Footer />
    </div>
  </main>
</Layout>

