---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import TopNavigationBar from '../components/TopNavigationBar.astro';

import Updates from '../components/landingPage/Updates/index.astro'
import LFL from '../components/landingPage/LFL.astro'
import WhyGlentree from '../components/register/whyGlentree.astro';
import Campus from '../components/register/campus.astro';
import Collapsible from '../components/admissions/Collapsible.astro';

import Testimonial from '../components/landingPage/Testimonial.astro';
import BigAdmissionCTA from '../components/BigAdmissionCTA.astro';
import Scholarship from '../components/register/scholarship.astro';
import '../global.css'

import '@fontsource/nunito-sans';
import GlentreeFamily from '../components/landingPage/GlentreeFamily.astro';
import Footer from '../components/landingPage/Footer.astro';
import Text from '../components/system/Text.astro';
import YoutubeEmbed from '../components/YoutubeEmbed.astro';
import psjaAward from '../images/psjaAward.png'
import meritAwards from '../images/meritAwards.png'
import VittalFounderDesk from '../components/vittalFounderDesk.astro';
import { Image } from 'astro:assets';
import AdmissionMarquee from '../components/campus/admissionMarquee.astro'

import PrePrimaryBG from '../images/curriculum/prePrimary.png';
import PrimaryBG from '../images/curriculum/primary.png';
import MiddleAndHighBG from '../images/curriculum/middle&High.png';
import Constrain from '../components/system/Constrain.astro';
import overviewRegisterPageBG from '../images/overviewRegisterPageBG.png'
import DownArrow from '../icons/DownArrow.svg'
import RegisterForm from '../components/register/registerForm.astro'
import Slide from '../components/system/Slide.astro';
import awards from "../images/awards.svg"
import blobBG from '../images/blobBG.svg'

import slide1 from "../images/register/slides/1.png";
import slide2 from "../images/register/slides/2.png";
import slide3 from "../images/register/slides/3.png";

import slide1MB from "../images/register/slides/mb/1.jpg";
import slide2MB from "../images/register/slides/mb/2.jpg";
import slide3MB from "../images/register/slides/mb/3.jpg";

import PhoneWhite from '../icons/PhoneWhite.svg'
import Faqs from '../components/faqs.astro';
import AcademicsBox from '../components/AcademicsBox.astro';



const faqs = [
  {
    question: 'How do I apply for admission to Glentree Academy?',
    answer: ''
  },
  {
    question: 'What are the admission requirements?',
    answer: ''
  },
  {
    question: 'Is there an application deadline for admissions?',
    answer: ''
  },
  {
    question: 'What are the tuition fees for the programs?',
    answer: ''
  },
  {
    question: 'How do I schedule a campus visit?',
    answer: ''
  },
]

---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col min-h-[98svh] max-md:h-auto w-screen relative">
    <div 
      class="flex-1 flex flex-col main-container max-md:h-auto min-h-[98svh] w-screen"
      id="scroll-area"
      style={{
        overflowY: 'overlay',
        overflowX: 'hidden',
      }}
    >

    
      <div class='flex flex-col max-md:h-auto min-h-[98svh] relative'>
        <TopNavigationBar hideMenu applyNowButtonId="register-page-apply-now" />
        <div class="h-[88px] w-full bg-black"></div>

        <!-- <div class="bg-yellow p-2 text-center text-black flex flex-row max-md:flex-col justify-center items-center group">
          <Text type='regular' class="font-bold uppercase tracking-widest">Limited-period offer</Text>
          <div class="px-2" />
          <Text type='base' class="font-bold">Rs. 10,000 off on Admission Fees</Text>
        </div> -->

        <div class="w-full flex-1 h-full relative p-12 py-2 flex flex-row max-md:flex-col justify-between items-center max-md:p-8 max-md:px-4">
          <div class="w-full h-full absolute top-0 left-0 max-md:hidden">
            <Slide
              slides={[
                { image_desktop: slide1.src, image_mobile: slide1MB.src, position: 'center' },
                { image_desktop: slide2.src, image_mobile: slide2MB.src, position: 'center' },
                { image_desktop: slide3.src, image_mobile: slide2MB.src, position: 'center' }
              ]}
              id="resiter-page-hero"
            />
          </div>

          <div class="w-full h-[110svh] absolute top-0 left-0 bg-red-100 hidden max-md:block">
            <Slide
              slides={[
                { image_desktop: slide1MB.src, image_mobile: slide1MB.src, position: 'center' },
                { image_desktop: slide2MB.src, image_mobile: slide2MB.src, position: 'center' },
                { image_desktop: slide3MB.src, image_mobile: slide3MB.src, position: 'center' }
              ]}
              id="resiter-page-hero-mb"
            />
          </div>

          <div 
            class="
              absolute w-full h-full top-0 left-0
              bg-[linear-gradient(183deg,_rgba(0,_66,_29,_0.00)_31.29%,_#000_97.19%)]
              max-md:bg-[linear-gradient(180deg,_rgba(0,_66,_29,_0.10)_-40.71%,_#000_50.19%)]
              z-20
            "
            style={{
              // background: 'linear-gradient(183deg, rgba(0, 66, 29, 0.00) 31.29%, #000 97.19%)',
              // 'linear-gradient(321deg, rgba(0, 66, 29, 0.10) -2.71%, #000 101.19%)'
            }}
          />

          <div class="max-md:p-36 max-md:block hidden"  />

          <div class="h-full flex flex-row items-end relative z-20 self-end max-md:self-start">
            <div class="flex flex-col max-md:items-center mb-10 max-md:mb-2">
              <Text type="h3" class='text-white text-center'>Nurturing Lifelong Learners</Text>
              <div class="flex flex-row text-white mt-4">
                <div class="w-[160px] max-md:w-[115px] py-1 flex justify-center bg-accent rounded-tl-md rounded-bl-md">
                  <Text type="h4" class="text-[21px] max-md:text-[16px] tracking-wide">Experience</Text>
                </div>
                <div class="w-[160px] max-md:w-[115px] py-1 flex justify-center bg-green-600">
                  <Text type="h4" class="text-[21px] max-md:text-[16px] tracking-wide">Evolve</Text>
                </div>
                <div class="w-[160px] max-md:w-[115px] py-1 flex justify-center bg-accent3 rounded-tr-md rounded-br-md">
                  <Text type="h4" class="text-[21px] max-md:text-[16px] tracking-wide">Excel</Text>
                </div>
              </div>
              <div class="pt-[36px] max-md:pt-[24px]" id="register-form-container-mobile" />
              <div class="w-[382px] max-md:w-[85%]">
                <Image src={awards} class="w-full" alt="Glentree Rank 1: " />
              </div>
            </div>
          </div>
          <div class="max-md:py-4" />
          <RegisterForm />
        </div>
        <AdmissionMarquee class="max-md:!hidden" />
        <!-- <div class="w-[50px] h-[50px] down-arrow-button transition-all duration-500 rounded-[50%] bg-accent border-accent/60 border-[4px] absolute top-[97vh] left-[50%] z-[9999] flex items-center justify-center max-md:hidden">
          <div class="w-[18px] h-[9px] down-arrow-icon">
            <Image src={DownArrow} alt="Down Arrow" class="w-full h-full object-cover" />
          </div>
        </div> -->
      </div>
      <WhyGlentree />

    <div class='bg-white relative p-20 pb-10 max-md:p-5 text-black' >
      <div class="w-[263px] h-[279px] absolute right-0 top-0 z-20 max-md:hidden">
        <Image src={blobBG} alt='Blob Background' class='w-full h-full object-cover' />
      </div>
      <Constrain>
        <div class='relative z-10 flex flex-col items-center'>
          <!-- <Text type='subtitle' style={{ letterSpacing: '0.1em', opacity: 0.8 }}>Locate Us</Text> -->
          <Text type='h2' class='mt-3'>Glentree{' '}<span class='text-accent2'>Overview</span></Text>
          <div class="w-[870px] max-md:w-full max-md:h-[450px] h-[537px] flex flex-col mt-8">
            <div class="flex flex-row flex-1 border-b border-black/20">
              <div class="flex-1 flex px-2 flex-col items-center justify-center border-r border-black/20">
                <Text type="h2" class="max-md:text-[26px] text-[#6F322E]">K-12</Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Grades Offered
                </Text>
              </div>
              <div class="flex-1 flex px-2 items-center justify-center flex-col border-r border-black/20">
                <Text type="h2" class="max-md:text-[26px] text-black flex items-start">
                  1
                </Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Vision
                </Text>
              </div>
              <div class="flex-1 flex px-2 items-center justify-center flex-col">
                <Text type="h2" class="max-md:text-[26px] text-[#6F322E]">23</Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Clubs Offered
                </Text>
              </div>
            </div>
            <div class="flex flex-row flex-1 border-b border-black/20">
              <div class="flex-1 flex px-2 items-center justify-center flex-col border-r border-black/20">
                <Text type="h2" class="max-md:text-[26px] text-black">40</Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Activities Offered
                </Text>
              </div>
              <div class="flex-1 flex px-2 items-center justify-center flex-col border-r border-black/20">
                <Text type="h2" class="max-md:text-[26px] text-[#6F322E]">50</Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Students Club
                </Text>
                
              </div>
              <div class="flex-1 flex px-2 items-center justify-center flex-col">
                <Text type="h2" class="max-md:text-[26px] text-black flex flex-row items-start">
                  1<span class="text-3xl leading-[0.75] -tracking-normal">st</span>
                </Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Emerging School
                </Text>
              </div>
            </div>
            <div class="flex flex-row flex-1">
              <div class="flex-1 flex px-2 items-center justify-center flex-col border-r border-black/20">
                <Text type="h2" class="max-md:text-[26px] text-[#6F322E]">3</Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Campuses
                </Text>
              </div>
              <div class="flex-1 flex px-2 items-center justify-center flex-col border-r border-black/20">
                <Text type="h2" class="max-md:text-[26px] text-black">800</Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Students
                </Text>
              </div>
              <div class="flex-1 flex px-2 items-center justify-center flex-col">
                <Text type="h2" class="max-md:text-[26px] text-[#6F322E]">8</Text>
                <Text type='base' class='mt-3 font-semibold text-center'>
                  Years of Excellence
                </Text>
              </div>
            </div>
          </div>
        </div>
      </Constrain>
    </div>



   
      

    <div class='w-full p-14 pb-3 text-black bg-white flex flex-col items-center max-md:p-6'>
      <Text type={'subtitle'} class='text-black/80'>ENRICHING CURRICULUM</Text>
      <Text type={'h2'} class='mt-2'>Academic{' '}<span class='text-accent2'>Landscape</span></Text>
      <div class='w-full flex-col flex items-center rounded-2xl max-md:rounded-2xl overflow-hidden mt-8 max-w-[1196px]'>
        <AcademicsBox noHeader />
      </div>
    </div>

    <!-- <LFL /> -->


    <Campus />

      



    <Scholarship />
    <Testimonial />


    <div class="w-full items-center flex flex-col bg-white">
      <div class="p-4" />
      <Text type={'subtitle'} class='text-black/60'>THINGS TO NOTE</Text>
      <Text type={'h2'} class='mt-2 text-black'>FAQs</Text>
      <div class="p-4" />
      <Faqs />
      <div class="p-3" />
    </div>


    

    <!-- <BigAdmissionCTA /> -->

    <!-- <GlentreeFamily /> -->
    <Footer />
    </div>

    <a href="tel:7676310000">
      <div class="fixed w-full h-14 bg-green-600 bottom-0 left-0 z-10 hidden max-md:flex items-center justify-center gap-4">
        <div 
          class="w-4 h-4"
        >
          <Image src={PhoneWhite} alt="Phone" class="w-full h-full object-cover" />
        </div>
        <Text type="sm">+91 76763 10000</Text>
      </div>
    </a>

  </main>
</Layout>

<style>
  .float{
    position:fixed;
    /* background-color:#25d366; */
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index:100;
  }

  .float > div {
    opacity: 0;
    transition: 0.6s all ease-in-out
  }
  .float a:hover ~ div {
    opacity: 1;
  }

  .my-float{
    margin-top:16px;
  }

  .down-arrow-button {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    overflow: hidden;
  }
  
  .down-arrow-button:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255, 0) 30%,
        rgba(255,255,255, .8),
        rgba(255,255,255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
    animation: shineDownArrow 3s ease-out infinite;
  }
  
  @keyframes shineDownArrow {
    0% {left: -100px}
    20% {left: 100%}
    100% {left: 100%}
  }
</style>

<script>
  // @@ts-ignore

  // dev script temp
  const applyNowButtons = document.querySelectorAll(`[data-apply-now-button="register-page-apply-now"]`)
  applyNowButtons.forEach((applyNowButton => {
    applyNowButton?.addEventListener('click', () => {
      if (window.innerWidth > 768) {
        const registerFormContainer = document.getElementById('register-form-container-desktop')
        registerFormContainer?.scrollIntoView({ behavior: 'smooth' })
      } else {
        const registerFormContainer = document.getElementById('register-form-container-mobile')
        registerFormContainer?.scrollIntoView({ behavior: 'smooth' })
      }
    })
  }))

  import collapsible, { openCollapsible } from '../components/admissions/collapsible'
  collapsible('.collapsible', null)

  const downArrowButton = document.querySelector('.down-arrow-button')
  document.addEventListener('scroll', (e) => {
    // after scrolling 100px, show the button
    if (window.scrollY > window.innerHeight / 5) {
      downArrowButton?.classList.add('opacity-0')
    }
  })
  const mainContainer = document.querySelector('.main-container')
  if (mainContainer) {
  }


  

</script>
