---
import FilledArrowCircle from '../icons/FilledArrowCircle.astro'
const { title, secondary, icon, class: className } = Astro.props;
const primary = !secondary;

const Icon = icon ? icon : FilledArrowCircle;
---

<div class={className}>
  <button 
    class:list={[
      "flex flex-row items-center py-2 px-5 rounded-full border-[3px]",
      primary ? "border-white/30" : "border-white" 
    ]} 
    style={{
      boxShadow: "0px 10px 20px rgba(0, 0, 0, 0.2)",
      background: primary ? "linear-gradient(263.64deg, #4B916A 6.11%, #028339 95.99%)" : 'white'
    }}>
    <span class:list={[primary ? "text-white" : "text-green-400", "font-bold"]}>
      <slot/>
    </span>
    <div class="w-5 h-5 ml-2">
      <Icon color={primary ? "white" : "#3C674F"} />
    </div>
  </button>
</div>