---
import DeckCard from "./DeckCardWithGalleryCaption.astro";
import Text from "./system/Text.astro";
import GASupdate1 from '../images/campus/gas/updates/1.jpeg'
import GASupdate2 from '../images/campus/gas/updates/2.jpeg'

const { currentLink, campusName, data } = Astro.props

console.log('facilityIoenn? ', currentLink)

---
<div
  class="mt-[60px] w-full flex flex-col items-center px-[44px] max-md:px-[0px] gap-20 max-md:gap-16"
>
  <div class="flex flex-row max-md:flex-col w-full gap-16 justify-between">
    <DeckCard
      deckContainerClass="relative left-2 max-md:-left-2"
      cardHoverStyle={["border-accent"]}
      gallery={data.gallery}
      id="campus-facility1"
    />
    <div>
      <Text type="h3">
        <span class="text-accent">Academic</span> Facilities
      </Text>
      <div class="p-2"></div>
      <Text type="base" class="w-[90%]">
        Step into our modern, spacious classrooms equipped with the latest
        educational technology. We prioritise comfort and up-to-date
        resources to support your child’s optimal learning experience.
        <br />
        <br />
        <ul class="list-inside list-disc flex flex-col gap-2">
          <li>Digitally Enabled Classrooms</li>
          <li>Wonder Room for Pre primary</li>
          <li>Well-stocked libraries</li>
          <li>Multi-purpose Amphitheatres</li>
          <li>CC TV Monitoring for added security.</li>
        </ul>
      </Text>
      <div class="p-3"></div>
      <Text
        type="sm"
        class="uppercase text-accent underline tracking-widest font-bold cursor-pointer"
        data-modal-target="campus-facility1"
        data-target-deck="deck-campus-facility1"
      >
        View Facilities
      </Text>
    </div>
  </div>
</div>