---
import DeckCard from "./DeckCardWithGalleryCaption.astro";
import Text from "./system/Text.astro";
import Button from "./system/Button.astro";
import bulletStarGreen from '../images/bulletStarGreen.svg'
import GASupdate1 from '../images/campus/gas/updates/1.jpeg'
import GASupdate2 from '../images/campus/gas/updates/2.jpeg'
import { Image } from "astro:assets";
const { currentLink, campusName, data } = Astro.props


---
<div
  class="mt-[60px] w-full flex flex-col items-center px-[44px] max-md:px-[0px] gap-20 max-md:gap-16"
>
  <div class="flex flex-row max-md:flex-col w-full gap-20 justify-center">
    <DeckCard
      deckContainerClass="relative left-2 max-md:-left-2"
      cardHoverStyle={["border-accent"]}
      gallery={data.gallery}
      id="campus-facility1"
    />
    <div class="flex flex-col items-start text-left gap-6 max-md:px-8 max-md:w-full max-w-[650px]">
      <!-- <Text type="h3" class="text-accent2">Top-Notch Facilities</Text> -->
      <div class="py-2" />
      <Text type="base" class="font-semibold">{data.title}</Text>
      {data.description.map((item) => (
        <div class="flex flex-row items-center">
          <div class="w-[16px] h-[18px]">
            <Image src={bulletStarGreen} class="w-full h-full object-cover" alt="bullet icon" />
          </div>
          <Text type="regular" class="font-bold ml-[10px]">{item}</Text>
        </div> 
      ))}
      <div class="flex flex-row gap-8 items-center max-md:flex-col max-md:items-start">
        {data.campusTourEmbedId && (
          <div data-video-open="campusTourVideo" class="flex-shrink-0">
            <Button>
              Watch Campus Tour
              <svg slot="icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM13.2313 8.72996C12.9466 8.53003 12.6242 8.32321 12.2903 8.1202C11.0034 7.33764 10.36 6.94636 9.7829 7.37957C9.2058 7.81278 9.15335 8.71968 9.04846 10.5335C9.01879 11.0464 9 11.5493 9 12.0001C9 12.4508 9.01879 12.9537 9.04846 13.4666C9.15335 15.2804 9.2058 16.1873 9.7829 16.6205C10.36 17.0537 11.0034 16.6625 12.2903 15.8799C12.6242 15.6769 12.9466 15.4701 13.2313 15.2702C13.5559 15.0423 13.909 14.7688 14.2651 14.4783C15.555 13.426 16.2 12.8999 16.2 12.0001C16.2 11.1002 15.555 10.5741 14.2651 9.52182C13.909 9.23134 13.5559 8.95785 13.2313 8.72996Z" fill="white"/>
              </svg>
            </Button>
          </div>
        )}
        <div class="cursor-pointer" data-modal-target="campus-facility1" data-target-deck="deck-campus-facility1">
          <Text type="regular" class='underline uppercase text-green-600 tracking-wide font-bold'>VIEW Facilities</Text>
        </div>
      </div>
    </div>
  </div>
</div>