---
import Button from '../components/Button.astro'
import logo from '../images/logo.png'
---
<header class="w-full bg-black/80 py-3 px-14 box-border flex flex-row justify-between align-middle backdrop-blur-md absolute z-50">
	<img src={logo} alt="Glentree's Logo" width="69">
	<li class="flex items-center">
		<a href="#" class="text-white mr-12">Academics</a>
		<a href="#" class="text-white mr-12">Campuses</a>
		<a href="#" class="text-white">Admissions</a>
	</li>
	<Button>Apply Now</Button>
</header>