---
import Text from "../system/Text.astro";
const { image, class: className, name, desc, link, upcomingRibbon } = Astro.props
---

<div data-link={link} class:list={[
  'relative max-md:w-full h-[432px] cursor-pointer max-md:h-[300px] rounded-2xl flex flex-col justify-end max-md:p-0 overflow-hidden group',
  className
]}
>
  <div class="w-full h-full bg-cover bg-center absolute top-0 left-0 z-0 group-hover:scale-110 transition-transform duration-300" style={{
    backgroundImage: `url(${image.src})`
  }}></div>
  {upcomingRibbon && (
    <div class="ribbon absolute py-2 px-12 bg-yellow border-[2px] border-[#C7AC66] text-[#613938] text-[16px] top-[2.5rem] -right-[3.5rem] font-bold rotate-[40deg]">Upcoming Campus</div>
  )}
  <div class='flex flex-row justify-between items-center bg-gradient-to-b p-8 px-2 from-black/0 to-black max-md:p-4 w-full relative z-10'>
    <div class="flex flex-row items-center">
      <div class='ml-6 mr-6 max-md:ml-2'>
        <Text type={'h4'} class=''>{name}</Text>
        <Text type={'sm'} class=''>{desc}</Text>
      </div>
      
    </div>
  </div>
</div>

<style>
  .ribbon:before {
    content: '';
    position: absolute;
    width: 150px;
    animation: shine 2.5s ease-out infinite;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255, 0) 30%,
        rgba(255,255,255, .8),
        rgba(255,255,255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
    /* animation: none; Animation */
  }

  @keyframes shine {
    0% {left: -100px}
    60% {left: 100%}
    100% {left: 100%}
  }
</style>
<script>
  document.querySelectorAll('[data-link]').forEach(el => {
    el.addEventListener('click', () => {
      window.open(el.dataset.link, "_self"); 
    })
  })
</script>
