---
import Text from '../../system/Text.astro'
import newsUpdateBG from '../../../images/newsUpdateBG.png'
import Card from './Card.astro'
import jasonResult from '../../../images/results/jason.png'
import hasiniResult from '../../../images/results/hasini.png'
import vivekResult from '../../../images/results/vivek.png'
import shreyanshResult from '../../../images/results/shreyansh.png'
import deepthiReslut from '../../../images/results/Deepthi.png'
import suhaniResult from '../../../images/results/suhani.png'


// const news = Array.from({ length: 6 }, (_, i) => i).map((i) => ({
//   title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
//   image: newsUpdateBG,
// }))


const resultImages = [
  // jasonResult,
  hasiniResult,
  suhaniResult, 
  vivekResult,
  shreyanshResult,
  // deepthiReslut
]
---

<div 
  style={{
    background: 'linear-gradient(180deg, #000000 0%, #142C1E 100%)',
  }}
  class="flex flex-col items-center py-20 max-md:py-12"
>
  <div class='flex flex-row w-full items-center max-md:ml-0 max-md:px-6 box-border'>
    <div class='flex-1 bg-white/30 mr-6 max-md:mr-4 max-md:hidden' style={{ height: '1px' }}></div>
    <Text type={"subtitle"} class='text-center max-md:w-[100%] text-white' style={{ opacity: 0.8 }}> Our Results:<br class="hidden max-md:block" /> Sarjapur & Whitefield</Text>
    <div class='flex-1 bg-white/30 ml-6 max-md:ml-4 max-md:hidden' style={{ height: '1px' }}></div>
  </div>
  <Text type={"base"} class='text-center text-white mb-6 mt-6 max-md:mb-5 max-md:mt-3 max-md:w-[90%]' style={{ opacity: 0.8 }}>  Glentree Academy epitomizes academic brilliance, maintaining our track record of Grade 10 Results.</Text>

  <div class="w-screen flex flex-row h-min overflow-scroll no-scrollbar scroll-snap-news-carousel px-3 mb-0" style={{
    overflowX: 'scroll',
    overflowY: 'visible',
    scrollSnapType: 'x mandatory',
  }}>
    {resultImages.map((image) => (
      <Card title={""} image={image}  />
    ))}
  </div>
</div>