
/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'MADE Gentle';
  src: url('/fonts/MADE-Gentle.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}


.no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;
}


@media screen and (max-width: 768px) {
  .main-container::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
}
 
.main-container::-webkit-scrollbar {
  width: 18px;
}

.main-container::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.6);
}